@{
    ViewBag.Title = "Index";
}


<style type="text/css">
    
    .dataEntryGrid
    {
        margin-top:0px;
    }
    
    .dataEntryGrid th,
    .dataEntryGrid td
    {
        border:solid 1px #CCC;
        margin:0px;
    }

    .dataEntryGrid th
    {
        background-color:#DDD;
        padding:0px;
    }
    
    .dataEntryGrid td
    {
        background-color:#FFF;
        padding:3px;
    }
</style>
<h2>
    Data Entry App</h2>
<div id="formContainer" style="background-color:#FFF;border:solid 1px gray;height:500px;overflow:auto">

    
    <table cellpadding="0" cellspacing="0" border="1" class="dataEntryGrid" width="100%"> 
        <thead>
            <tr >
                <th style="text-align: center;width: 100px;" >
                    First Name
                </th>
                <th style="text-align: center;width: 100px;" >
                    Last Name
                </th>
                <th style="text-align: center;width: 100px;" >
                    Age
                </th>
                <th>&nbsp;</th>
            </tr>
            <tr style="background-color: #CCC;">
                <th>
                    <input type="text" data-bind="value: Draft.FirstName" style="width: 85px;" />
                </th>
                <th>
                    <input type="text" data-bind="value: Draft.LastName" style="width: 85px;" />
                </th>
                <th>
                    <input type="text" data-bind="value: Draft.Age" style="width: 85px;" />
                </th>
                <th style="background-color: #FFF;">
                    <a data-bind="click: SubmitDraft">Add</a>
                </th>
            </tr>
        </thead>
        <tbody data-bind="foreach: Records">
            <tr style="background-color: #EFE;">
                <td>
                    <span data-bind="text: FirstName" />
                </td>
                <td>
                    <span data-bind="text: LastName" />
                </td>
                <td>
                    <span data-bind="text: Age" />
                </td>
                <td>
                    <span data-bind="text: Status" />
                </td>
            </tr>
        </tbody>
    </table>
</div>
<script src="@Url.Content("~/Scripts/json2.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery-1.8.0.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.signalR-0.5.3.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/signalr/hubs")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/knockout-2.1.0.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/knockout.mapping-latest.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/linq.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/DataEntryBasic.js")" type="text/javascript"></script>
<input id="Submit" type="button" value="Submit" />
<div style="border: solid 1px #CCC; padding: 20px; margin-top: 10px; background-color: #EEE">
    <ul id="messages">
    </ul>
</div>
