@{
    ViewBag.Title = "Index";
}
<style type="text/css">
    .dataEntryGrid
    {
        margin-top: 0px;
    }
    
    .dataEntryGrid th, .dataEntryGrid td
    {
        border: solid 1px #CCC;
        margin: 0px;
    }
    
    .dataEntryGrid th
    {
        background-color: #DDD;
        padding: 5px 2px;
        font-size: 1.0em;
        font-weight: normal;
    }
    
    .dataEntryGrid tr.record
    {
        background-color: #FFF;
        padding: 3px;
    }
    
    .dataEntryGrid tr.draft
    {
        background-color: #EEE;
        padding: 3px;
    }
    
    .dataFieldInfoContainer
    {
        border: solid 1px gray;
        margin: 0px;
        padding: 13px;
        background-color: #EEE;
    }
    
    
    .optionscontainer
    {
    }
    
    .optionscontainer .option
    {
        border: solid 1px #5873a7;
        background-color: #cfdefc;
        padding: 3px;
        margin: 3px;
        float: left;
        width: 450px;
    }
    
    .optionscontainer .option.selected
    {
        border: solid 1px #224992;
        background-color: #4268af;
        color: #FFF;
    }
    
    .optionscontainer .option table
    {
        margin: 0px;
    }
    
    .optionscontainer .option .optionKey
    {
        width: 15px;
        font-weight: bold;
        font-size: 1.3em;
        vertical-align: top;
        padding: 5px;
    }
    .optionscontainer .option .optionLabel
    {
        padding: 0px;
    }
    
    
    #currentFieldPreview
    {
        font-size:1.5em;
        font-weight:bold;
        border: solid 1px #CCC;
        background-color: #FFF;
        padding:5px;
    }
    #editor
    {
        background-color: #AAA;
        color: #FFF;
    }
    
    
    #error
    {
        color: Maroon;
        border: solid 1px #FAA;
        background-color: #FEE;
        padding: 10px;
        margin-top: 10px;
        display: none;
    }
    
    #outputConsole
    {
        border: solid 1px #CCC;
        padding: 20px;
        margin-top: 10px;
        background-color: #EEE;
    }
</style>
<h2>
    Data Entry - Dynamic form</h2>
<div id="errors">
</div>
<div style="text-align: right">
    <h4>
        Processed : <span data-bind="text: ProcessedRecords().length"></span>&nbsp;/&nbsp;<span
            data-bind="text: Records().length"></span>&nbsp;Pending : <span data-bind="text: PendingRecords().length">
            </span>&nbsp;/&nbsp;<span data-bind="text: Records().length"></span></h4>
</div>
<div id="formContainer" style="background-color: #FFF; border: solid 1px gray; height: 500px;
    overflow: auto">
    <table cellpadding="2" cellspacing="0" border="1" class="dataEntryGrid" width="100%">
        <thead>
            <tr>
                <!-- ko foreach: Draft.Fields -->
                <th data-bind="text: Label" style="text-align: center">
                </th>
                <!-- /ko -->
                <th style="padding: 0.25em;">
                    Status
                </th>
            </tr>
        </thead>
        <tbody data-bind="foreach: Records">
            <tr class="record">
                <!-- ko foreach: Fields -->
                <td style="padding: 0.25em;">
                    <span data-bind="text: Value"></span>
                    <br />
                </td>
                <!-- /ko -->
                <td style="padding: 0.25em; background-color: #FFF;">
                    <span data-bind="text: Status"></span>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="dataFieldInfoContainer">
    <div class="optionscontainer">
        <!-- ko foreach: Draft.CurrentField.Options -->
        <div class="option" data-bind="css: { selected: Selected }">
            <table width="100%" border="1" cellpadding="0" cellspacing="0">
                <tr>
                    <td class="optionKey">
                        <span data-bind="text: Value"></span>
                    </td>
                    <td class="optionLabel">
                        <span data-bind="text: Label"></span>
                    </td>
                </tr>
            </table>
        </div>
        <!-- /ko -->
        <br style="clear: both;" />
    </div>
</div>
<div id="currentFieldPreview" >
    <span data-bind="text: Draft.CurrentField.Label" ></span> : <span data-bind="text: Draft.CurrentField.Value" ></span>
</div>
<div class="editor">
    <table cellpadding="0" cellspacing="0" border="1" width="100%">
        <tr>
            <!-- ko foreach: Draft.Fields -->
            <td data-bind="text: Label" style="text-align: left; padding: 0px;">
            </td>
            <!-- /ko -->
            <td style="text-align: left; padding: 0px;">
                &nbsp;
            </td>
        </tr>
        <tr>
            <!-- ko foreach: Draft.Fields -->
            <td style="text-align: left; padding: 0px; width: 55px;">
                <input type="text" data-bind="value: Value, valueUpdate: 'keyup', event: { focus: function(){}}"
                    style="width: 40px; margin: 0px; padding: 5px 2px" />
            </td>
            <!-- /ko -->
            <td style="text-align: left; padding: 0px;">
                <input type="button" value="Save" style="padding: 4px 1px;" />
            </td>
        </tr>
    </table>
</div>
<script src="@Url.Content("~/Scripts/json2.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery-1.8.0.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.signalR-0.5.3.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/signalr/hubs")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/knockout-2.1.0.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/knockout.mapping-latest.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/linq.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/DataEntry.js")" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {

    });
</script>
<input id="Submit" type="button" value="Submit" />
<div id="outputConsole">
    <ul id="messages">
    </ul>
</div>
